* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background-color: rgb(40, 40, 40);
  height: 100%;
  font-size: 9px;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}